/* Base Style
============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./../images/background-image.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

.container {
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
}

/* Common CSS
============== */
.btn {
    display: inline-block;
    background-color: #fff;
    color: #A43F49;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 8px 13px;
    border-radius: 2px;
}

.btn a {
    text-decoration: none;
    color: #A43F49;
}
/* Sidebar
=========== */
aside {
    width: 20%;
    height: 100vh;
    background: #A43F49;
    position: fixed;
    overflow-y: auto;
}

aside::-webkit-scrollbar {
    display: none;
}

/* User Profile 
----------------- */
.user-profile {
    width: 100%;
    height: auto;
    padding: 50px 0;
}

/* profile-picture */
.profile-picture {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-picture img {
    width: 140px;
    height: auto;
    transform: scale(1.6);
    margin-left: 10px;
    margin-top: 10px;
}

/* profile-info */
.profile-info {
    margin-top: 30px;
    text-align: center;
    color: #fff;
    letter-spacing: 0.05rem;
}

.profile-info h1 {
    font-size: 1.5rem;
}

.profile-info p {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}

/* Main Menu
------------- */
.main-menu {
    margin-top: 3vh;
}

.main-menu nav {
    text-align: center;
}

.main-menu nav ul {
    list-style: none;
}

.main-menu nav ul li {
    border-top: 1px solid #fff;
}

.main-menu nav ul li:last-child {
    border-bottom: 1px solid #fff;
}

.main-menu nav ul li a {
    text-decoration: none;
    display: block;
    padding: 20px 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    transition: all 0.5s;
}

.main-menu nav ul li a:hover {
    background-color: #fff;
    color: #A43F49;
}

.main-menu nav ul li a.active {
    background-color: #fff;
    color: #A43F49;
}

/* Social Icons
--------------- */
.social-icons {
    padding: 5vh 0;
    text-align: center;
    font-size: 1rem;
}

.social-icons a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 10px;
    transition: all 0.5s;
}

.social-icons a:hover {
    background-color: #fff;
    color: #A43F49;
}

/* Copyrights
-------------- */
.copyrights {
    border-top: 1px solid rgb(255, 255, 255, 0.2);
    padding: 15px 0;
    margin-bottom: 30px;
    text-align: center;
}

.copyrights p {
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
}

/* Main Area
============= */
main {
    width: 70%;
    margin-left: auto;
}

main > section {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    padding: 50px 0;
}

main > section:first-child {
    border-top: none;
}

/* Main Area All Section Header
-------------------------------- */
main > section .section-header {
    width: 80%;
    margin: 0 auto 50px;
    text-align: center;
    color: #fff;
    letter-spacing: 0.05rem;
}

main > section .section-header h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 7px;
}

main > section .section-header .section-heading-separator {
    width: 50px;
    height: 3px;
    background-color: #A43F49;
    margin: 0 auto 10px;
}

main > section .section-header p{
    font-size: 1rem;
    font-weight: 400;
    color: #c9c9c9;
    line-height: 1.5;
}

/* About Section
------------------- */
.about-section-article {
    width: 850px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 35px 0;
}

.about-section-article:first-of-type {
    border-top: none;
    padding-top: 0;
}

.article-image {
    width: 420px;
    max-width: 48%;
    height: 260px;
}

.article-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.article-content {
    width: 52%;
    padding-left: 25px;
    padding-top: 30px;
}

.article-content h3 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
}

.article-content p {
    color: #c9c9c9;
    padding: 15px 0;
}

.about-section-article:nth-child(odd) .article-image {
    order: 2;
}

.about-section-article:nth-child(odd) .article-content {
    order: 1;
    padding-left: 0;
    padding-right: 25px;
}